@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
 
  /* -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent; */
    /* font-family: Mulish,Mulish,Helvetica,Arial,sans-serif; */
}
/*responsive*/
@media screen and (max-width:900px) {
  .navContainer{
    display: none;
  }
  .miniMenu{
    display: block; 
  }
  .mainContainer{
   
    flex-direction: column;
    justify-content: center;
  }
  .box{
    width: auto;
    flex-direction: column;
  }
  .box_div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .box_div span {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .homeimg3{
    display: none;
  }
  .updown_animation{
    width: 90%;
  }
  .flexBox{
    width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .root_Container{
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .hexa_div{
    height: 70vh;
    /* flex-direction: column; */
    
  }
  .polyDiv{
    display: none;
  }
  .loginContainer{
width: 40%;
  }
}
